body{
    background: url("../images/background.jpg");
}    

h1{
    color: yellow;
    margin-top: 100px;
    font-size: 100px;
    font-weight: bolder;
    margin-left: 100px;
    font-family: cursive;
}
#mainpic{
  max-width: 650px;
  margin-left: 125px;
  

}

main{float: left;
    font-family: fantasy;
    width: 100%;
    max-width: 650px;
    padding: 40px;
    background: lightseagreen;
    border: 2px solid yellow;
    text-align: center;
    margin-left: 100px;
    
}